//=========================================
.block-catalog-nav{
	background-color: white;
	box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
	position: relative;
	margin-bottom: 35px;
	padding-bottom: 20px;
	.title{
		color: white;
		font-size: 18px;
		font-weight: 700;
		line-height: 16px;
		text-transform: uppercase;
		background-color: #419cd5;
		padding: 10px;
	}
	ul.nav{
		padding-left: 30px;
		padding-right: 15px;
		&>li{
			padding-right: 20px;
			background: url("../img/nav-arr2.png") no-repeat right center transparent;
			&:hover,
			&.open,
			&.active{
				background: url("../img/nav-arr1.png") no-repeat right center transparent;
			}
			&>a{
				padding: 8px 0;
				background: transparent;
				&:hover,
				&:focus{
					background: transparent;
				}
				span.new{
					font-size: 12px;
					font-weight: 600;
					line-height: 14px;
					color: #fff;
					display: inline-block;
					background: red;
					padding: 3px 5px;
					margin-left: 5px;
				}
			}
			ul.dropdown-menu{
				left: 100%;
				top: 0;
				a{
					padding: 8px 0 8px 15px;
				}
			}
		}
	}
	.dropdown-menu a,
	a{
		color: #666;
		font-size: 16px;
		font-weight: 400;
		line-height: 14px;
	}
	ul.nav li.dropdown:hover ul.dropdown-menu{
		display: block;
		margin: 0;
	}

	a.menu:after, .dropdown-toggle:after {
		content: none;
	}
}
//=========================================
.block-akcii{
	border: 1px solid #ebebeb;
	padding: 5px 15px 15px 15px;
	margin-bottom: 35px;
	.block-title{
		color: #e00025;
		font-weight: bold;
		padding: 20px 0;
		font-size: 18px;
		text-transform: uppercase;
		background: url("../img/akcii.png") no-repeat right center rgba(0, 0, 0, 0);
	}
	.item {
		border-bottom: 1px solid #ebebeb;
		padding-bottom: 5px;
		margin-bottom: 5px;
		font-size: 14px;
		line-height: 16px;
	}
	.text {
		color: #666;
		font-size: 12px;
		line-height: 14px;
		padding-top: 5px;
		p {
			margin: 0;
			padding: 0;
			color: #666;
			font-size: 12px;
			line-height: 14px;
		}
	}
	.all-lick{
		padding-top: 5px;
		a {
			background: url("../img/nav-arr1.png") no-repeat right center rgba(0, 0, 0, 0);
			display: table;
			font-weight: 600;
			color: #419cd5;
			padding-right: 12px;
			font-size: 16px;
		}
	}
}
//=========================================
.block-news{
	margin-bottom: 30px;
	.block-title{
		border-top: 1px solid #ebebeb;
		font-size: 24px;
		color: #666;
		padding: 15px 0;
		.points{
			background: url("../img/point-3.png") no-repeat center center transparent;
			display: inline-block;
			margin-left: 10px;
			width: 43px;
			height: 12px;
		}
	}
	.item{
		.img-wrap {
			text-align: center;
			margin-bottom: 10px;
		}
		a.permalink {
			color: #444;
			font-size: 16px;
			font-weight: 600;
			text-decoration: none;
			&:after {
				content: "";
				width: 100px;
				display: block;
				border-bottom: 2px solid #2e89c2;
			}
		}
		.text {
			color: #444;
			font-size: 14px;
			p {
				margin-top: 5px;
			}
		}
		.data-more {
			.data {
				background: url("../img/icon/icon-data.png") no-repeat 0 center;
				padding-left: 30px;
				font-size: 14px;
				font-weight: 600;
			}
			.more {
				float: right;
				font-size: 14px;
				font-weight: 600;
				color: #419cd5;
				text-decoration: underline !important;
			}
		}
	}
}
//=========================================
.block-piem{
	position: relative;
	margin-top: -50px;
	z-index: 1000;
	.row{
		div{
			font-size: 18px;
			font-weight: 700;
			line-height: 20px;
			text-transform: uppercase;
			color: #fff;
			height: 90px;
			padding-left: 80px;
			padding-top: 25px;
			&.item-1{
				background: url("../img/box-i1.png") no-repeat 20px center;
			}
			&.item-2{
				background: url("../img/box-i2.png") no-repeat 20px center;
			}
			&.item-3{
				background: url("../img/box-i3.png") no-repeat 20px center;
			}
			&.item-4{
				background: url("../img/box-i4.png") no-repeat 20px center;
			}
			&.item-1,
			&.item-3{
				background-color: #419cd5;
			}
			&.item-2,
			&.item-4{
				background-color: #2e89c2;
			}
		}
	}
}
//=========================================
.block-catalog{
	.row {
		&>div{
			margin-bottom: 30px;
		}
	}
	.item{
		border: 1px solid #f0efef;
		border-radius: 4px;
		overflow: hidden;
		.img-wrap{
			margin-top: 30px;
			text-align: center;
			position: relative;
			img{
				height: 185px;
				max-height: 185px;
				max-width: 100%;
			}
			.color-wrap{
				position: absolute;
				left: 15px;
				span{
					margin-top: 10px;
					display: table;
					width: 32px;
					height: 32px;
					background-color: white;
					border-radius: 50%;
					border: 2px solid #ebebeb;
					box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
					&:first-child{
						margin-top: 0;
					}
				}
			}
		}
		&:hover{
			.info-wrap{
				display: none;
			}
			.buy-wrap{
				display: block;
			}
		}
		.info-wrap{
			margin: 10px 20px 20px 20px;
			padding-top: 10px;
			border-top:1px solid #f0efef;
			.name{
				color: #666;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
			}
			.prise-wrap{
				display: table;
				width: 100%;
				margin-top: 15px;
				.price{
					float: left;
					color: #2e89c2;
					font-size: 16px;
					font-weight: 700;
					line-height: 16px;
					span{
						padding-left: 5px;
						color: #419cd5;
						font-size: 12px;
						font-weight: 700;
						line-height: 16px;
					}
				}
				.reit-wrap{
					display: table;
					float: right;
					width: 65px;
					height: 13px;
					background: url("../img/star.png") no-repeat 0 center transparent;
					span{
						background: url("../img/star-a.png") no-repeat 0 center transparent;
						text-indent: -999999px;
						height: 13px;
						display: table;
						&.reit-1{
							width: 13px;
						}
						&.reit-2{
							width: 26px;
						}
						&.reit-3{
							width: 39px;
						}
						&.reit-4{
							width: 52px;
						}
						&.reit-5{
							width: 65px;
						}
					}
				}
			}
		}
		.buy-wrap{
			display: none;
			margin-top: 53px;
			a{
				background: #419cd5;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
				text-decoration: none;
				display: table;
				width: 100%;
				text-align: center;
				span{
					background: url("../img/icon/icon-buyt.png") no-repeat 0 center ;
					display: inline-block;
					padding: 20px 0 20px 40px;
				}
			}
		}
	}
}
//=========================================
.block-category-post{
	&>div{
		margin-bottom: 20px;
	}
	.img-wrap{
		text-align: center;
		a{
			border: 1px solid #419cd5;
			display: table;
			img{
				width: 260px;
				height: 190px;
			}
		}
		@media (max-width: 1170px) {
			a{
				border: 1px solid #419cd5;
				display: block;
				img{
					width: 100%;
					height: auto;
				}
			}
		}
	}
	.entry-titlet{
		color: #444;
		font-size: 20px;
		font-weight: 600;
		line-height: 18px;
		margin:15px 0 5px;
		&:after {
			display: block;
			content: ' ';
			width: 100px;
			background: #419cd5;
			height: 2px;
			margin-top: 5px;
		}
		a{
			color: #444;
			font-size: 20px;
			font-weight: 600;
			line-height: 18px;
			text-decoration: none;
		}
	}
	.text{
		color: #444;
		font-size: 14px;
		font-weight: 300;
		line-height: 18px;
		p{
			margin: 0;
		}
	}
	.data-link{
		display: table;
		width: 100%;
		margin-top: 15px;
		.data{
			background: url("../img/icon/icon-data.png") no-repeat 0 center transparent;
			padding-left: 30px;
			color: #444;
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
		}
		.link{
			font-size: 14px;
			font-weight: 600;
			line-height: 18px;
			text-decoration: underline;
			float: right;
		}
	}
}
//=========================================
.block-category-page{
	margin-bottom: 50px;
	.data{
		background: url("../img/icon/icon-data.png") no-repeat 0 0 transparent;
		padding: 5px 0 5px 30px;
		display: inline-block;
		margin-bottom: 10px;
		color: #444;
		font-size: 14px;
		font-weight: 600;
		line-height: 18px;
	}
	img{
		border: 1px solid #f0efef;
		border-radius: 4px;
	}
	table{
		margin-top: 10px;
		margin-bottom: 20px;
	}
	.page-next{
		border-top:1px solid #ebebeb ;
		display: table;
		width: 100%;
		a{
			margin-top: 10px;
			display: inline-block;
			font-size: 14px;
			font-weight: 600;
			text-decoration: underline;
		}
		.prev{
			padding-left: 20px;
			background: url("../img/nav-arr4.png") no-repeat 0 center transparent;
		}
		.next{
			float: right;
			padding-right: 20px;
			background: url("../img/nav-arr1.png") no-repeat 100% center transparent;
		}
	}
}
//=========================================
.block-pagenavi{
	text-align: center;
	a:hover,span{
		line-height: 38px;
		text-align: center;
		width: 40px;
		height: 40px;
		font-size: 16px;
		font-weight: bold;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: rgba(0,0,0,0.2) 6px 6px 2px;
		-moz-box-shadow: rgba(0,0,0,0.2) 6px 6px 2px;
		box-shadow: rgba(0,0,0,0.2) 6px 6px 2px;
		background: #419cd5;
		color: #fff;
		display: inline-block;
		text-decoration: none;
		&.extend{
			background: transparent;
			color: #999999;
			-webkit-box-shadow: rgba(0,0,0,0) 6px 6px 2px;
			-moz-box-shadow: rgba(0,0,0,0) 6px 6px 2px;
			box-shadow: rgba(0,0,0,0) 6px 6px 2px;
		}
	}
	a{
		line-height: 38px;
		text-align: center;
		width: 40px;
		height: 40px;
		font-size: 16px;
		font-weight: bold;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		border-radius: 50%;
		background: transparent;
		color: #999999;
		display: inline-block;
	}
}
//=========================================
.block-breadcrumbs{
	margin-top: 15px;
	font-size: 13px;
	font-weight: 400;
	a span{
		color: #666;
	}
	span{
		color: #ebebeb;
	}
}
//=========================================
.form-wrap{
	.fild{
		margin-bottom: 20px;
		input {
			padding-left: 15px;
			width: 100%;
			border: 1px solid #ebebeb;
			box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
			border-radius: 0;
			height: 52px;
			color: #000;
			background: #fff;
			font-weight: 400 !important;
			&::-webkit-input-placeholder {color:#000;}
			&::-moz-placeholder          {color:#000;}/* Firefox 19+ */
			&:-moz-placeholder           {color:#000;}/* Firefox 18- */
			&:-ms-input-placeholder      {color:#000;}
		}
		.labe {
			color: #d8d8d8;
			font-family: "Open Sans";
			font-size: 14px;
			font-weight: 600;
			padding-left: 15px;
			padding-top: 10px;
			display: inline-block;
			line-height: 20px;
		}
		textarea{
			width: 100%;
			border: 1px solid #ebebeb;
			box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
			border-radius: 0;
			color: #000;
			background: #fff;
			font-weight: 400 !important;
			height: 350px;
			padding: 15px;

			&::-webkit-input-placeholder {color:#000;}
			&::-moz-placeholder          {color:#000;}/* Firefox 19+ */
			&:-moz-placeholder           {color:#000;}/* Firefox 18- */
			&:-ms-input-placeholder      {color:#000;}
		}
		iframe{
			width: 100%;
		}
	}
	.submit {
		border-radius: 0;
		float: right;
		margin-top: 15px;
		width: 210px;
		height: 50px;
		color: #fff;
		background: #4bb3f5;
		border: none;
		font-size: 16px;
		font-weight: 700;
		line-height: 20px;
		text-transform: uppercase;
	}
}
//=========================================
.block-tabs{
	.nav-tabs{
		border: none;
		&>li.active{
			background: #f8fcff;
			border: none;
		}
		&>li.active>a, &>li.active>a:focus, &>li.active>a:hover{
			background: transparent;
			border: none;
		}
		.tab-li{
			background: transparent;
			border: none;
			width: 240px;
			padding-bottom: 25px;
			a{
				padding:10px 0 10px 15px;
				background: transparent;
				border: none;
				color: #797979;
				font-size: 15px;
				font-weight: 700;
				line-height: 25px;
				text-transform: uppercase;
			}
		}
		.num{
			display: block;
			float: left;
			width: 40px;
			height: 40px;
			background-color: #efefef;
			box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
			border-radius: 50%;
			color: #797979;
			margin-right: 10px;
			padding: 9px 0 0;
			text-align: center;
		}
		.active .num{
			background: #419cd5;
			color: #fff;
		}
		.tab-inf{
			display: block;
			padding-left: 50px;
		}
	}
	.tab-content{
		background-color: #f8fcff;
		box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
		padding: 30px 25px;
	}
}
//=========================================
.row-box{
	margin-bottom: 20px;
	.glyphicon{
		color: #419cd5;
		font-size: 25px;
		width: 30px;
		float: left;
	}
	.box-title{
		span{
			font-size: 15px;
			font-weight: bold;
			display: table;
		}
	}
	.box-text{
		padding-top: 15px;
		padding-left: 30px;
	}
}
//=========================================
.block-simelaryProd{
	.block-title{
		border-top: 1px solid #ebebeb;
		font-size: 24px;
		color: #666;
		padding: 15px 0;
		.points{
			background: url("../img/point-3.png") no-repeat center center transparent;
			display: inline-block;
			margin-left: 10px;
			width: 43px;
			height: 12px;
		}
	}
	.row {
		&>div{
			margin-bottom: 30px;
		}
	}
	.item{
		border: 1px solid #f0efef;
		border-radius: 4px;
		overflow: hidden;
		.img-wrap{
			margin-top: 30px;
			text-align: center;
			position: relative;
			img{
				height: 185px;
				max-height: 185px;
				max-width: 100%;
			}
			.color-wrap{
				position: absolute;
				left: 15px;
				span{
					margin-top: 10px;
					display: table;
					width: 32px;
					height: 32px;
					background-color: white;
					border-radius: 50%;
					border: 2px solid #ebebeb;
					box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
					&:first-child{
						margin-top: 0;
					}
				}
			}
		}
		&:hover{
			.info-wrap{
				display: none;
			}
			.buy-wrap{
				display: block;
			}
		}
		.info-wrap{
			margin: 10px 20px 20px 20px;
			padding-top: 10px;
			border-top:1px solid #f0efef;
			.name{
				color: #666;
				font-size: 14px;
				font-weight: 600;
				line-height: 16px;
			}
			.prise-wrap{
				display: table;
				width: 100%;
				margin-top: 15px;
				.price{
					float: left;
					color: #2e89c2;
					font-size: 16px;
					font-weight: 700;
					line-height: 16px;
					span{
						padding-left: 5px;
						color: #419cd5;
						font-size: 12px;
						font-weight: 700;
						line-height: 16px;
					}
				}
				.reit-wrap{
					display: table;
					float: right;
					width: 65px;
					height: 13px;
					background: url("../img/star.png") no-repeat 0 center transparent;
					span{
						background: url("../img/star-a.png") no-repeat 0 center transparent;
						text-indent: -999999px;
						height: 13px;
						display: table;
						&.reit-1{
							width: 13px;
						}
						&.reit-2{
							width: 26px;
						}
						&.reit-3{
							width: 39px;
						}
						&.reit-4{
							width: 52px;
						}
						&.reit-5{
							width: 65px;
						}
					}
				}
			}
		}
		.buy-wrap{
			display: none;
			margin-top: 53px;
			a{
				background: #419cd5;
				color: #fff;
				font-size: 16px;
				font-weight: 700;
				line-height: 20px;
				text-transform: uppercase;
				text-decoration: none;
				display: table;
				width: 100%;
				text-align: center;
				span{
					background: url("../img/icon/icon-buyt.png") no-repeat 0 center ;
					display: inline-block;
					padding: 20px 0 20px 40px;
				}
			}
		}
	}
}
//=========================================