@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic&subset=latin,cyrillic-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700italic,400italic,700&subset=latin,cyrillic,cyrillic-ext);
html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #525252;
  font-size: 14px; }

a {
  color: #419cd5; }

.wrapper {
  position: relative;
  min-height: 100%; }

.content-wrapper {
  padding-bottom: 260px; }

header .nav-top {
  background: #3394d2;
  height: 50px; }
  header .nav-top .menu-top {
    margin: 0;
    padding: 0;
    list-style: none; }
    header .nav-top .menu-top li {
      display: inline-block; }
      header .nav-top .menu-top li a {
        text-transform: uppercase;
        color: #fff;
        font-weight: 600;
        display: block;
        padding: 15px 30px; }
      header .nav-top .menu-top li.active a {
        text-decoration: underline; }
      header .nav-top .menu-top li:last-child a {
        background-color: #e00025;
        box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15); }
header .head .logo {
  display: table;
  margin-top: 30px; }
header .head .tel-search > div {
  padding: 0; }
header .head .tel {
  font-weight: 600;
  display: table;
  color: #666;
  margin: 40px auto 0 auto; }
  header .head .tel.tel1 {
    padding-left: 25px;
    background: url("../img/icon/icon-tel.png") no-repeat 0 center transparent; }
  header .head .tel strong {
    font-size: 20px; }
header .head .block-search {
  margin-top: 35px; }
  header .head .block-search .search-inp {
    font-size: 14px;
    padding-bottom: 5px;
    width: 174px;
    border: none;
    display: inline-block;
    border-bottom: 1px solid #419cd5;
    /* Firefox 19+ */
    /* Firefox 18- */ }
    header .head .block-search .search-inp::-webkit-input-placeholder {
      color: #000; }
    header .head .block-search .search-inp::-moz-placeholder {
      color: #000; }
    header .head .block-search .search-inp:-moz-placeholder {
      color: #000; }
    header .head .block-search .search-inp:-ms-input-placeholder {
      color: #000; }
    header .head .block-search .search-inp:active, header .head .block-search .search-inp:focus {
      outline: none; }
  header .head .block-search .search-send {
    display: inline-block;
    background: url("../img/icon/icon-serch.png") no-repeat center center transparent;
    width: 16px;
    height: 16px;
    text-indent: -999999px;
    border: none; }
header .head .mini-cart {
  margin-top: 20px; }
  header .head .mini-cart button {
    background: url("../img/icon/icon-cart.png") no-repeat 0 0 transparent;
    border: none;
    padding-left: 60px;
    position: relative;
    text-align: left;
    font-family: 'PT Sans', sans-serif; }
    header .head .mini-cart button:active, header .head .mini-cart button:focus {
      outline: none; }
    header .head .mini-cart button .col-tow {
      position: absolute;
      top: 0px;
      left: 28px;
      background: #f00;
      border-radius: 50%;
      width: 25px;
      line-height: 24px;
      height: 24px;
      text-align: center;
      color: #fff;
      font-family: "Open Sans",Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 16px; }
    header .head .mini-cart button .title {
      color: #419cd5;
      font-family: 'PT Sans', sans-serif;
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      text-transform: uppercase; }
    header .head .mini-cart button .summ,
    header .head .mini-cart button .tov {
      font-family: 'PT Sans', sans-serif;
      display: block; }

footer {
  background: #2e89c2;
  color: #fff;
  height: 260px;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 25px 0 0 0; }
  footer .container .row > div {
    border-left: 1px solid #fff; }
    footer .container .row > div:last-child {
      padding-left: 30px; }
    footer .container .row > div:first-child {
      border-left: none; }
  footer .title {
    margin-bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase; }
    footer .title.spec {
      text-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
      color: #e00025; }
  footer .block-text a.map {
    color: #e00025; }
  @media (max-width: 1170px) {
    footer .block-text {
      font-size: 13px; }
      footer .block-text p {
        margin-bottom: 5px; } }
  @media (max-width: 970px) {
    footer .block-text {
      font-size: 13px; }
      footer .block-text p {
        margin-bottom: 5px; } }
  footer .foot-cat ul {
    display: table;
    width: 50%;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0; }
    footer .foot-cat ul li {
      margin-bottom: 10px; }
      footer .foot-cat ul li a {
        color: #fff; }
  footer .foot-akcii,
  footer .foot-brend {
    list-style: none;
    margin: 0;
    padding: 0; }
    footer .foot-akcii li,
    footer .foot-brend li {
      margin-bottom: 10px; }
      footer .foot-akcii li a,
      footer .foot-brend li a {
        color: #fff; }
  footer .foot-nav {
    padding-left: 20px;
    margin-bottom: 30px; }
    footer .foot-nav li {
      margin-bottom: 10px; }
      footer .foot-nav li a {
        color: #fff; }

.main-left-bar {
  margin: 15px 0 0; }

.block-catalog-nav {
  background-color: white;
  box-shadow: 3.4px 4.9px 2px rgba(0, 3, 1, 0.15);
  position: relative;
  margin-bottom: 35px;
  padding-bottom: 20px; }
  .block-catalog-nav .title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    background-color: #419cd5;
    padding: 10px; }
  .block-catalog-nav ul.nav {
    padding-left: 30px;
    padding-right: 15px; }
    .block-catalog-nav ul.nav > li {
      padding-right: 20px;
      background: url("../img/nav-arr2.png") no-repeat right center transparent; }
      .block-catalog-nav ul.nav > li:hover, .block-catalog-nav ul.nav > li.open, .block-catalog-nav ul.nav > li.active {
        background: url("../img/nav-arr1.png") no-repeat right center transparent; }
      .block-catalog-nav ul.nav > li > a {
        padding: 8px 0;
        background: transparent; }
        .block-catalog-nav ul.nav > li > a:hover, .block-catalog-nav ul.nav > li > a:focus {
          background: transparent; }
        .block-catalog-nav ul.nav > li > a span.new {
          font-size: 12px;
          font-weight: 600;
          line-height: 14px;
          color: #fff;
          display: inline-block;
          background: red;
          padding: 3px 5px;
          margin-left: 5px; }
      .block-catalog-nav ul.nav > li ul.dropdown-menu {
        left: 100%;
        top: 0; }
        .block-catalog-nav ul.nav > li ul.dropdown-menu a {
          padding: 8px 0 8px 15px; }
  .block-catalog-nav .dropdown-menu a,
  .block-catalog-nav a {
    color: #666;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px; }

.block-akcii {
  border: 1px solid #ebebeb;
  padding: 5px 15px 15px 15px;
  margin-bottom: 35px; }
  .block-akcii .block-title {
    color: #e00025;
    font-weight: bold;
    padding: 20px 0;
    font-size: 18px;
    text-transform: uppercase;
    background: url("../img/akcii.png") no-repeat right center transparent; }
  .block-akcii .item {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 16px; }
  .block-akcii .text {
    color: #666;
    font-size: 12px;
    line-height: 14px;
    padding-top: 5px; }
    .block-akcii .text p {
      margin: 0;
      padding: 0;
      color: #666;
      font-size: 12px;
      line-height: 14px; }
  .block-akcii .all-lick {
    padding-top: 5px; }
    .block-akcii .all-lick a {
      background: url("../img/nav-arr1.png") no-repeat right center transparent;
      display: table;
      font-weight: 600;
      color: #419cd5;
      padding-right: 12px;
      font-size: 16px; }

.block-news {
  margin-bottom: 30px; }
  .block-news .block-title {
    border-top: 1px solid #ebebeb;
    font-size: 24px;
    color: #666;
    padding: 15px 0; }
    .block-news .block-title .points {
      background: url("../img/point-3.png") no-repeat center center transparent;
      display: inline-block;
      margin-left: 10px;
      width: 43px;
      height: 12px; }
  .block-news .item .img-wrap {
    text-align: center;
    margin-bottom: 10px; }
  .block-news .item a.permalink {
    color: #444;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none; }
    .block-news .item a.permalink:after {
      content: "";
      width: 100px;
      display: block;
      border-bottom: 2px solid #2e89c2; }
  .block-news .item .text {
    color: #444;
    font-size: 14px; }
    .block-news .item .text p {
      margin-top: 5px; }
  .block-news .item .data-more .data {
    background: url("../img/icon/icon-data.png") no-repeat 0 center;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 600; }
  .block-news .item .data-more .more {
    float: right;
    font-size: 14px;
    font-weight: 600;
    color: #419cd5;
    text-decoration: underline !important; }

.block-piem {
  position: relative;
  margin-top: -50px;
  z-index: 1000; }
  .block-piem .row div {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    height: 90px;
    padding-left: 80px;
    padding-top: 25px; }
    .block-piem .row div.item-1 {
      background: url("../img/box-i1.png") no-repeat 20px center; }
    .block-piem .row div.item-2 {
      background: url("../img/box-i2.png") no-repeat 20px center; }
    .block-piem .row div.item-3 {
      background: url("../img/box-i3.png") no-repeat 20px center; }
    .block-piem .row div.item-4 {
      background: url("../img/box-i4.png") no-repeat 20px center; }
    .block-piem .row div.item-1, .block-piem .row div.item-3 {
      background-color: #419cd5; }
    .block-piem .row div.item-2, .block-piem .row div.item-4 {
      background-color: #2e89c2; }

/*# sourceMappingURL=style.css.map */
